<?xml version='1.0' encoding='utf-8'?>
<widget id="za.co.eswatinismartschool" version="2.0.4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>EswatiniSmartSchool</name>
    <description>
        A E-learning for schools in Eswatini, filled with local educational contents.
    </description>
    <author email="info@eswatinismartschool.co.za" href="http://www.eswatinismartschool.co.za">
        ESWATINI SMART SCHOOL TEAM
    </author>
    <content src="index.html" />
    <preference name="android-targetSdkVersion" value="28"/>
      <preference name="FullScreen" value="true" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-inappbrowser" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
     <icon src="logo.png" />
</widget>
